.App {
  text-align: center;
}

.autocompletewhole{
  /* width:800px; */
  /* height:500px; */
  /* background-color:green; */
  margin:-1rem auto 0.2rem auto;
  display: block;
  width:100%;;

}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 5px;
  /* background-color:black; */
  margin:0.1rem auto;
}

.result {
  /* height: 1rem; */
  /* padding:  */
  display: block;
}

